.filter {
  width: 60%;
  margin: auto;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  width: 60%;
  margin: 0px auto 60px;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}
