
<app-main-nav></app-main-nav>
<hr>
<app-data-table-plus></app-data-table-plus>
<hr>
<app-table-http></app-table-http>
<hr>
<app-data-table></app-data-table>
<hr>
<app-dashboard></app-dashboard>
<hr>
<app-checkbox></app-checkbox>
<hr>
<app-radiobutton></app-radiobutton>
<hr>
<app-select></app-select>
<hr>
<app-input></app-input>
<hr>
<app-textarea></app-textarea>
<hr>
<app-datepicker></app-datepicker>
<hr>
<app-icons></app-icons>
<hr>
<app-button></app-button>
<hr>
<app-chips></app-chips>
<hr>
<app-progress></app-progress>
<hr>
<app-tooltips></app-tooltips>
<hr>
<app-tabs></app-tabs>
<hr>
<app-dialog></app-dialog>
