
@import "@angular/material/_theming.scss";

@include mat-core();

// Define custom theme

$app-primary: mat-palette($mat-blue, 700);
$app-accent: mat-palette($mat-amber, 600);
$app-warn: mat-palette($mat-red, 600);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Define custom typography

$app-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(32px, 32px, 700)
);

@include angular-material-typography($app-typography);
